{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="{% static 'survey_create.css' %}">
<script src="{% static 'js/survey.js' %}"></script>
{% endblock %}
{% block content %}
<div class="bg">
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="row survey-create">
                <div class="col-sm-10">
                    <div class="choose">
                        <select class="selectpicker" name="category">
                            <option value="">Select a Category</option>
                            {% for each in category %}
                            <option>{{each.title}}</option>
                            {% endfor %}
                            <option value="other">Add Another</option>
                        </select>
                    </div>
                    <label id="otherName" hidden>Category Name
                        <input type="text" name="new_category" />
                    </label>
                    <div class="error">
                        {% if form.errors %}
                        {{form.errors.category}}
                        {% endif %}
                    </div>
                    <div class="question1">
                        <label>Question</label>
                        <input type="text" name="question" placeholder="Question..">
                    </div>
                    {% if form.errors %}
                    <div class="error">
                        {{form.errors.question}}
                    </div>
                    {% endif %}
                    <div class="choice">
                        <label>Choice 1</label>
                        <input type="text" name="choice1" placeholder="choice..">
                    </div>
                    {% if form.errors %}
                    <div class="error">
                        {{form.errors.choice1}}
                    </div>
                    {% endif %}
                    <div class="choice">
                        <label>Choice 2</label>
                        <input type="text" name="choice2" placeholder="choice..">
                    </div>
                    {% if form.errors %}
                    <div class="error">
                        {{form.errors.choice2}}
                    </div>
                    {% endif %}

                    <div class="choice">
                        <label>Choice 3</label>
                        <input type="text" name="choice3" placeholder="choice..">
                    </div>
                    {% if form.errors %}
                    <div class="error">
                        {{form.errors.choice3}}
                    </div>
                    {% endif %}

                    <div class="choice">
                        <label>Choice 4</label>
                        <input type="text" name="choice4" placeholder="choice..">
                    </div>
                    {% if form.errors %}
                    <div class="error">
                        {{form.errors.choice4}}
                    </div>
                    {% endif %}

                    <input class="button" type="submit" value="Submit">
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-sm-5"></div>
            <div class="col-sm-4 category_header">
                <h3>Survey Categories</h3>
            </div>
        </div>
        {% for each in category %}
        <div class="row category">
            <div class="col-sm-4"></div>
            <div class="col-sm-6">
                <h4><a href="{% url 'survey_detail' each.id%}">{{forloop.counter}}. {{each.title}}</a></h4>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}