{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="{% static 'question_detail.css' %}">
{% endblock %}
{% block content %}
<div class="bg">
    <div class="container body">
        <form method="post">
            {% csrf_token %}
            <div class="row all_label">
                <div class="col-sm-10">
                    <label>Question Title</label>
                    <input type="text" name="q-{{question.id}}" value="{{question.question_text}}">
                </div>
            </div>
            {% for choice in question.choice_set.all %}
            <div class="row all_label">
                <div class="col-sm-10">
                    <label>Choice {{forloop.counter}}</label>
                    <input type="text" name="{{choice.id}}" value="{{choice.choice_text}}">
                </div>
            </div>
            {% endfor %}
            <div class="row">
                <div class="col-sm-3">
                    <input type="submit" class="button" value="Edit">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}