{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="{% static 'survey_detail.css' %}" >
{% endblock %}
{% block content %}
<div class="bg">
    <div class="container body">
        <form method="post">
            {% csrf_token %}
            <div class="row all_label">
                <div class="col-sm-4">
                    <label for="category">Category Name:</label>
                    <input type="text" id="category" name="category" value="{{category.title}}">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <input type="submit" class="button" value="Edit">
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-sm-10">
                <p class="text">
                    All questions under category <strong>{{category.title}}</strong> are enlisted below. Click on the question text for editing particular question and choices.
                </p>
            </div>
        </div>
        {% for each in category.question_set.all %}
        <div class="row">
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-10 question">
                        <h4><a href="{% url 'question_detail' each.id %}">{{forloop.counter}}. {{each.question_text}}</a></h4>
                    </div>
                </div>
                {% for choice in each.choice_set.all %}
                <div class="row choice">
                    <div class="col-sm-10">
                        <h5>{{forloop.counter}}. {{ choice.choice_text }}</h5>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}