{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="{% static 'member.css' %}" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
{% endblock %}
{% block title %}Birthday Members{% endblock %}
{% block content %}
<div class="container">
    <div class="row birthday">
        <div class="col-sm-6">
            <div>
                {% for each in bdmember %}
                {% if each %}
                <a href="{% url 'member_detail' each.id %}">{{ each.email}}</a>
                {% endif %}
                {% if not each %}
                <h1>No available birthday guys</h1>
                {% endif %}
            </div>

        </div>
    </div>
</div>

{% endfor %}
{% endblock %}