{% extends 'base.html' %}
{% load staticfiles %}
{%block head%}
<link rel="stylesheet" href="{% static 'home.css' %}" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
{% endblock %}
{% block content %}
<div class="bg">
    <div class="container home">
        <div class="row">
            <div class="col-sm-5"></div>
            <div class="col-sm-6">
                <p>WELCOME TO</p>
                <p>BUNKERS</p>
                <p>LOYALITY PROGRAM</p>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <a href="{% url 'issue' %}" class="btn btn-warning btn-block">ISSUE COUPON</a>
            </div>
            <div class="col-sm-5">
                <a href="{% url 'loyal_members' %}" class="btn btn-warning btn-block">LOYAL MEMBERS</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5 col-lg-5">
                <a href="{% url 'validity' %}" class="btn btn-warning btn-block">CHECK VALIDITY</a>
            </div>
            <div class="col-sm-5">
                <a href="{% url 'all_members' %}" class="btn btn-warning btn-block">ALL MEMBERS</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <a href="{% url 'birthday_member' %}" class="btn btn-warning btn-block">BIRTHDAY GUYS</a>
            </div>
            <div class="col-sm-5">
                <a href="{% url 'login'%}" class="btn btn-warning btn-block">SEND SMS</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}