{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="{% static 'member.css' %}" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
{% endblock %}
{% block title %}Loyal Members{% endblock %}
{% block content %}
<div class="bg">
    <div class="container">
        <div class="row header">
            <div class="col-lg-12">
                <h2>LOYAL MEMBERS</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-bordered table-dark" id="customers">
                    <thead>
                    <tr>
                        <th scope="col">Sl</th>
                        <th scope="col">NAME</th>
                        <th scope="col">PHONE</th>
                        <th scope="col">EMAIL</th>
                        <th scope="col">Coupon_Count</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for member in loyal_members %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a href="{% url 'member_detail' member.id %}">{{ member.full_name }}</a></td>
                        <td>{{ member.phone }}</td>
                        <td>{{ member.email }}</td>
                        <td>{{ member.coupon_count }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}