{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="{% static 'member-detail.css' %}">
{% endblock %}
{% block content %}
<div class="bg">
    <div class="container body">
        <form method="post">
            {% csrf_token %}
            <div>

            </div>

            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-4 detail">
                    <label>Full Name</label>
                    <input type="text" name="full_name" value="{{member.full_name}}" required>
                </div>
                <div class="col-sm-4 error">
                    {% if form.errors %}

                    <p>{{ form.errors.full_name }}</p>
                    {% endif %}

                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 "></div>
                <div class="col-sm-4 detail">
                    <label>Email</label>
                    <input type="text" name="email" value="{{ member.email }}" required>
                </div>
                <div class="col-sm-4 error">
                    {% if form.errors %}

                    {{ form.errors.email }}
                    {% endif %}

                </div>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-4 detail">
                    <label>Phone</label>
                    <input type="text" name="phone" value="{{ member.phone }}" required>
                </div>
                <div class="col-sm-4 error">
                    {% if form.errors %}

                    <p>{{ form.errors.phone }}</p>
                    {% endif %}
                </div>

            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-4 detail">
                    <label>Birthday -- {{ member.birthday }}</label>
                    <input type="date" name="birthday" value="{{ member.birthday }}">
                </div>
                <div class="col-sm-4 error">
                    {% if form.errors %}

                    <p>{{ form.errors.phone }}</p>
                    {% endif %}
                </div>

            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-4">
                    <input type="submit" class="button" value="Edit">
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}