{% extends 'base.html' %}
{% load staticfiles %}
{%block head%}
<link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}
{% block content %}
<div class="bg">
    <div class="container home">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-6">
                <p>WELCOME TO</p>
                <p>BUNKERS</p>
                <p>LOYALITY PROGRAM</p>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <form method="post">
            {% csrf_token %}
            {% if form.errors %}
            <div class="row alert alert-error">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                <h4>Please fix the following errors</h4>
                <ul>
                    {% for field in form %}
                    {% if field.errors %}
                    {% for error in field.errors %}
                    <h5>{{ error|escape }}</h5>
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                </ul>
                {% if form.non_field_errors %}
                {{ form.non_field_errors }}
                {% endif %}
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="coupon">COUPON NUMBER</label>
                        <input class="form-control" name="coupon_num" id="coupon" type="text" required/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control" name="email" id="email" type="text" required/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-warning btn-block">NEXT</button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-sm-4">
                <h2>{{message}}</h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}