{% extends 'base.html' %}
{% load staticfiles %}
{%block head%}
<link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}
{% block content %}
<div class="bg">
    <div class="container home">
        <div class="row">
            <div class="col-sm-5"></div>
            <div class="col-sm-6">
                <p>WELCOME TO</p>
                <p>BUNKERS</p>
                <p>LOYALITY PROGRAM</p>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <form method="post" action="?email={{query_string}}">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="full_name">Full Name</label>
                        <input class="form-control" name="full_name" id="full_name" type="text" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input class="form-control" name="phone" id="phone" type="text" required/>
                    </div>
                </div>
            </div>
            <div class="row hidden">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="email">Phone</label>
                        <input class="form-control" name="email" id="email" type="text" value="{{ query_string }}" required/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-warning btn-block">NEXT</button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-sm-4">
                <h2>{{message}}</h2>
            </div>
        </div>
    </div>
</div>
        {% endblock %}