{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Survey{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'survey.css' %}" type="text/css" >
<script type="text/javascript">
    function checkTheBox() {
        var flag = 0;
        for (var i = 0; i< 5; i++) {
            if(document.myform["choice"][i].checked){
                flag ++;
            }
        }
        if (flag != 1) {
            alert ("You must check one and only one checkbox!");
            return false;
        }
        return true;
    }
</script>
{% endblock %}
{% block content %}
<div class="survey-body">
    <div class="container">
        <div class="parent-row">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-6 header">
                    <p>WELCOME TO</p>
                    <p>BUNKERS</p>
                    <p>LOYALITY PROGRAM</p>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-6">
                    <h2>Please Take The Survey</h2>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
        <form name="myform" method="post" onsubmit="return checkTheBox()">
            <div class="survey-question">
                <div class="row">
                    {% csrf_token %}
                    {% with survey|first as first_object %}
                    <h2 class="title-survey">Category: {{ first_object.title }}</h2>
                    <input type="text" name="survey" value="{{ first_object.title }}" hidden />
                    <input type="text" name="emial" value="{{ email }}" hidden />
                    {% endwith %}        <!--<div class="col-lg-3"><p>asfsafsdafasdf</p></div>-->
                    {% for question in questions %}
                    <div class="col-sm-10">
                        <h3 class="question">{{ question.question_text }}</h3>
                        <input type="text" name="question" value="{{ question.question_text }}" hidden />
                        {% for choice in question.choice_set.all %}
                        <input type="checkbox" class="myinput" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }},{{ choice.question.id }}"  />
                        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <input class="button" type="submit" />
            </div>
        </form>
    </div>
</div>

{% endblock %}