{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="{% static 'thank_you.css' %}">
{% endblock %}
{% block content %}
<div class="thank-you-body">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <h1 class="header">Please contact with our officials for your free meal</h1>
            </div>
        </div>
    </div>
</div>

{% endblock %}