{% extends 'base.html' %}
{% load staticfiles %}
{%block head%}
<link rel="stylesheet" href="{% static 'home.css' %}">
<link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
{% endblock %}
{% block content %}
<div class="bg">
    <div class="container home">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-6">
                <p>WELCOME TO</p>
                <p>BUNKERS</p>
                <p>LOYALITY PROGRAM</p>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-warning btn-block">CHECK VALIDITY</button>
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-4"></div>
                {% if form.errors %}
                {% for field in form %}
                {% for error in field.errors %}
                <div class="col-sm-4 alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                <div>
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                        <div class="form-group">
                            <label for="email">EMAIL</label>
                            <input class="form-control" name="email" id="email" type="text" placeholder="email address .." />
                        </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-warning btn-block">CHECK</button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-sm-6">
                <h2 class="message">{{message}}</h2>
            </div>
    </div>
</div>
{% endblock %}