{% extends 'base.html' %}
{% load staticfiles %}
{%block head%}
<link rel="stylesheet" href="{% static 'home.css' %}">
<link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
{% endblock %}
{% block content %}
<div class="bg">
    <div class="container home">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-6">
                <p>WELCOME TO</p>
                <p>BUNKERS</p>
                <p>LOYALITY PROGRAM</p>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <form method="post">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="coupon_num">Coupon Number</label>
                        <input class="form-control" name="coupon_num" id="coupon_num" type="text" value="{{coupon}}" required />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="invoice_num">Invoice Number</label>
                        <input class="form-control" name="invoice_num" id="invoice_num" type="text" value="" required />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-warning btn-block">PRINT</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}