{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Login{% endblock %}
{%block head%}<link rel="stylesheet" href="{% static 'login.css' %}" type="text/css">{%endblock%}
{% block content %}
<div class="bg">
    <div class="container">
        <div class="row main">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <h2 class="title">BUNKERS LOYALITY</h2>
                    <h2 class="title">PROGRAM</h2>
                    <hr />
                </div>
            </div>
            <div class="main-login main-center">
                <form id="login-form" class="form-horizontal" method="post" >
                    {% csrf_token %}
                    <div>
                        {% if form.non_field_errors %}

                        {% for err in form.non_field_errors %}

                        <p class="error">{{ err }}</p>

                        {% endfor %}

                        {% endif %}

                    </div>
                    <div class="form-group">
                        <label for="id_username" class="cols-sm-2 control-label">Username</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="username" id="id_username"  placeholder="Enter your Name" required/>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="id_password" class="cols-sm-2 control-label">Password</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input type="password" class="form-control" name="password" id="id_password"  placeholder="Enter your Password" required/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <input type="submit" class="btn btn-primary btn-lg btn-block login-button" value="Login"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--<script type="text/javascript" src="assets/js/bootstrap.js"></script>-->

<!--<h2>Login</h2>-->
<!--<form method="post">-->
    <!--{% csrf_token %}-->
    <!--{{ form.as_p }}-->
    <!--<button type="submit">Login</button>-->
<!--</form>-->
{% endblock %}