{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Create User{% endblock %}
{% block head %}<link rel="stylesheet" href="{% static 'login.css' %}" type="text/css">{% endblock %}
{% block content %}
<div class="bg">
    <div class="container">
        <div class="row main">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <h2 class="title">BUNKERS LOYALITY</h2>
                    <h2 class="title">PROGRAM</h2>
                    <hr />
                </div>
            </div>
            <div class="main-login main-center">
                <form  class="form-horizontal" method="post">
                    {% csrf_token %}
                    <p class="error">{{ error.password_mismatch}}</p>
                    <div class="form-group">
                        <label for="username" class="cols-sm-2 control-label">Username</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="username" id="username"  placeholder="Enter your Username" required/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="cols-sm-2 control-label">Password</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input type="password" class="form-control" name="password1" id="password"  placeholder="Enter your Password" required/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input type="password" class="form-control" name="password2" id="confirm"  placeholder="Confirm your Password" required/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <input type="submit" class="btn btn-primary btn-lg btn-block login-button" value="Create User"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}