.row{
    margin-top: 20px;
}
.btn{
    font-family: 'Aclonica';
    white-space: normal;
    font-size: x-large;
    background-color: #F3A405;
    color: black;
}
p{
    font-family: 'Aclonica';
    font-size: 20px;
    text-shadow: 1px 1px;
    font-weight: bold;
    color: white;

}
.error{
    color: white;
}
label{
    font-family: 'Aclonica';
    font-size: 15px;
    color: white;
}
h5 {
    color: red;
}
h4 {
    color: white;
}
.home{
    margin-top: 30px;
    background-color: rgba(4, 38, 37, .8);
    border: 1px solid black;
    box-shadow: 15px 15px;
    height: 500px;
}
.bg{
    margin-top: 50px;
    height: 100%;
    background-color: #bfc0c1;
    background-image: url("img/background_image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.message{
    color: white;
}