.main{
    margin-top: 40px;
}
.bg{
    /*margin-top: 50px;*/
    height: 100%;
    background-color: #bfc0c1;
    /*background-image: url("img/background_image.jpg");*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.error{
    color: white;
}
h2.title {
    font-size: 30px;
    font-family: 'Passion One', cursive;
    font-weight: 400;
    /*margin-top: 20px;*/
}

hr{
    width: 10%;
    color: #fff;
}

.form-group{
    margin-bottom: 15px;
}

label{
    margin-bottom: 15px;
    color: white;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
    background-color: #252626;
     /*shadows and rounded borders*/
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
    margin-top: 30px;
    margin: 0 auto;
    max-width: 330px;
    padding: 40px 40px;

}

.login-button{
    margin-top: 5px;
}