.row{
    margin-top: 20px;
}
.body{
    margin-top: 50px;
}
.detail label{
    font-family: Aclonica;
}
.detail input{
    width: 100%;
    height: 30px;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}
.error {
    font-size: 20px;
    color: red;
}