.row{
    margin-top: 20px;
}
.header{
    margin-top: 70px;
}
h2{
    font-size: 40px;
    text-shadow: 1px 1px;
    color: black;

}
.bg{
    height: 100%;
    background-color: #bfc0c1;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
.birthday{
    margin-top: 90px;
}