.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    border-radius: 0px;
    background-color: rgba(2, 2, 2, .9);
}
.navbar-brand{
    font-family: Aclonica;
}
.list a{
    font-family: Aclonica;
}