.body{
    margin-top: 100px;
}
.all_label input{
    width: 100%;
    height: 30px;
}
.all_label label{
    font-family: Aclonica;
    margin: 10px 0 10px 0;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}
