p{
    font-family: 'Aclonica';
    font-size: 20px;
    text-shadow: 1px 1px;
    /*font-weight: bold;*/
    color: white;

}

.header{
    margin-top: 70px;
}
.parent-row{
    border: 1px solid black;
    box-shadow: 15px 15px;
    background-color: rgba(4, 38, 37, 1);
}
.question{
    font-size: 30px;
    text-shadow: 1px 1px;
    color: #0f0e0e;
    font-family: Arial;
    /*font-weight: 400;*/

}
label{
    font-size: 20px;
    text-shadow: 1px 1px;
    /*color: #0f0e0e;*/
    font-family: Arial;
}
.title-survey{
    margin-top: 30px;
    color: black;
}
h2 {
    font-size: 30px;
    text-shadow: 1px 1px;
    color: white;
    font-family: 'Aclonica';
    font-weight: 400;
    /*margin-top: 20px;*/
}

.myinput[type="checkbox"]{
    width: 15px;
    height: 15px;
    border: 1px solid #808080;
    content: "";
    background: #FFF;
}
.button{
    margin-top: 10px;
    height: 30px;
    width: 100px;
    color: black;
    font-weight: bold;
    background-color: #F3A405;
    border-radius: 1px;
}
.survey-body{
    height: 100%;
    background-color: #bfc0c1;
    /*background-image: url("img/background_image.jpg");*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.survey-questoin{
    margin-top: 30px;
    border: 1px solid black;
    /*background-color: rgba(4, 38, 37, 1);*/

}