.bg{
    background-color: #eae8e8;
}
.survey-create{
    margin-top: 100px;
}
.choose select {
    display: block;
    padding: 10px 70px 10px 13px !important;
    max-width: 100%; height: auto !important;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    background: url("https://image.ibb.co/iMeAJv/selectbox_arrow.png") right center no-repeat;
    background-color: #fff;
    color: #444444;
    font-size: 12px;
    line-height: 16px !important;
    appearance: none;
    /* this is must */
    -webkit-appearance: none; -moz-appearance: none;
}

body select option { padding: 0 4px; }
/* for IE and Edge */
select::-ms-expand { display: none; }
select:disabled::-ms-expand { background: #f60; }
#otherName {
    margin-top: 10px;
    color: black;
    font-family: Aclonica;
}
.question1{
    margin-top: 10px;
}
.question1 label{
    font-family: Aclonica;
}
.question1 input{
    width: 100%;
    height: 30px;
}
.choice{
    margin-top: 10px;
}
.choice input{
    width: 100%;
    height: 30px;
}
.choice label{
    font-family: Aclonica;
}
.choice h4{
    margin-left: 10px;
    font-size: 15px;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}
.category_header{
    margin-left: 40%;
    color: black;
    font-family: Aclonica;
}
.category{

}
.error{
    font-size: 15px;
    color: red;
}