.body{
    margin-top: 80px;
}
.all_label label{
    font-family: Aclonica;
}
.all_label input{
    width: 50%;
    height: 30px;
}
.category_header{
    margin-left: 40%;
    color: black;
    font-family: Aclonica;
}
/*.parent_header{*/
    /*border: 2px solid #5e8e5f;*/
    /*border-radius: 2px;*/
    /*background-color: #1fc13a;*/
/*}*/
.question_set{
    font-family: Aclonica;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}
.text{
    font-family: "Courier New";
    font-size: 16px;
    line-height: 25px;
    color: black;
}
.question a{
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    line-height: 10px;
    color: black;
}
.choice{
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    margin-left: 30px;
}
.bg{
    background-color: #f9fcfa;
}