.thank-you-body{
    margin-top: 50px;
    height: 100%;
    background-color: #bfc0c1;
    background-image: url("img/thank-you.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    font-family: 'Aclonica';
    font-size: 40px;
    text-shadow: 3px 3px;
    /*font-weight: bold;*/
    color: black;

}