{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Loyality Program{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'nav.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block head %}

    {% endblock %}
</head>
<body>
<!------------- navbar default ----------------------->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'register_coupon' %}">Bunkers Loyality Program</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-2">
            <ul class="nav navbar-nav navbar-right">
                <!--<li><a href="#">About</a></li>-->
                {% if user.is_superuser %}
                <li class="list"><a href="{% url 'home' %}">Home</a></li>
                <li class="list"><a href="{% url 'create_survey' %}">Survey</a></li>
                <li class="list"><a href="{% url 'logout' %}">Logout</a></li>
                <li class="list"><a href="{% url 'signup' %}">Create User</a></li>
                {% elif user.is_authenticated %}
                <li class="list"><a href="{% url 'home' %}">Home</a></li>
                <li class="list"><a href="{% url 'create_survey' %}">Survey</a></li>
                <li class="list"><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li class="list"><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav><!-- /.navbar -->

{% block content %}

{% endblock %}

</body>
</html>